body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

form {
    min-width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

img {
    max-width: 8rem;
}

a {
    font-size: .75rem;
}