body {
    font-family: Arial;
    position: relative;
    margin: 0;
    display: flex;
}

p {
    margin: 0;
}

#sidebar {
    background-color: rgb(0, 0, 100);
    color: white;
    min-height: 100vh;
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    transition: translate 300ms;
}

body.sidebar-closed #sidebar {
    translate: -100%;
}

body.sidebar-closed #page {
    width: 100vw;
    margin-left: -16rem;
}

#sidebar-logo {
    max-width: 8rem;
    transition: all 200ms;
    cursor: pointer;
}

#sidebar-logo:hover {
    opacity: 85%;
    scale: 105%;
}

.sidebar-item {
    text-align: center;
    padding: .5rem 0;
    width: 16rem;
    transition: all 200ms;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.sidebar-item:hover {
    background-color: rgb(0,0,40);
}

#page {
    width: calc(100vw - 16rem);
    transition: all 300ms;
}

#navbar {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(0, 0, 80);
}

#sidebar-toggle {
    margin-left: 1rem;
    cursor: pointer;
}

#content {
    box-sizing: border-box;
    padding: 2rem;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.5);
    pointer-events: none;
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: all 200ms;
}

.modal-overlay.show {
    display: flex;
    pointer-events: all;
    opacity: 1;
}

.modal {
    background: #fff;
    width: 90%;
    max-width: 32rem;
    border-radius: 1rem;
    overflow: hidden;
    animation: fadeIn .25s ease;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #eee;
}

.modal-body {
    padding: 1rem;
}

.modal-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.custom-button {
    display: flex;
    align-items: center;
    gap: .25rem;
    background-color: rgb(200, 200, 200);
    color: black;
    border: 0;
    border-radius: .50rem;
    padding: .5rem;
    cursor: pointer;
    transition: all 200ms;
}

.custom-button:hover {
    background-color: rgb(180, 180, 180);
}

.success-button {
    background-color: green;
    color: white;
}

.success-button:hover {
    background-color: rgb(0, 100, 0);
}

.primary-button {
    background-color: rgb(30, 30, 255);
    color: white;
}

.primary-button:hover {
    background-color: rgb(30, 30, 150);
}

.custom-input {
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
}