body {
    font-family: Arial;
    position: relative;
    margin: 0;
    display: flex;
}

p {
    margin: 0;
}

#sidebar {
    background-color: rgb(0, 0, 150);
    color: white;
    min-height: 100vh;
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

#sidebar-logo {
    max-width: 8rem;
    margin: 2rem 0;
    transition: all;
    transition-duration: 200ms;
    cursor: pointer;
}

#sidebar-logo:hover {
    opacity: 85%;
    scale: 105%;
}

#content {
    box-sizing: border-box;
    padding: 2rem;
}

.sidebar-item {
    text-align: center;
    padding: .5rem 0;
    width: 16rem;
    transition: all;
    transition-duration: 200ms;
    cursor: pointer;
}

.sidebar-item:hover {
    background-color: rgb(0,0,100);
}