#cars {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem
}

body.sidebar-closed #cars {
    grid-template-columns: repeat(6, 1fr);
}

.car-card {
    position: relative;
    width: 12rem;
    height: 12rem;
    background-color: rgb(240,240,240);
    overflow: hidden;
    border-radius: 1rem;
    transition: all 200ms;
}

.car-card:hover {
    box-shadow: 0px 0px 5px black;
}

.edit-button {
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    top: .25rem;
    right: .25rem;
    width: 2rem;
    height: 2rem;
    background-color: rgb(230,230,230);
    cursor: pointer;
    transition: all 200ms
}

.car-card:hover .edit-button {
    opacity: 1;
}

.edit-button:hover {
    background-color: rgb(200,200,200);
    box-shadow: 0px 0px 2px black;
}

.car-image {
    width: 12rem;
    height: 6rem;
    object-fit: cover;
}

.car-info {
    width: 12rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem;
}

.photo-previews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}

.photo-preview {
    position: relative;
}

.photo-preview img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: .5rem;
    transition: all 200ms;
}

.photo-preview img:hover {
    box-shadow: 0px 0px 5px black;
}

.photo-preview button {
    position: absolute;
    top: 4px;
    right: 4px;
    background: rgba(0,0,0,.65);
    color: #fff;
    border: 0;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
