#cars {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    justify-items: center;
}

.car-card {
    position: relative;
    width: 16rem;
    height: 16rem;
    background-color: rgb(240,240,240);
    border-radius: 1rem;
    transition: all 200ms;
    cursor: pointer;
}

.car-card:hover {
    box-shadow: 0px 0px 5px black;
}

.edit-button {
    opacity: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    top: .25rem;
    right: .25rem;
    width: 2rem;
    height: 2rem;
    background-color: rgb(230,230,230);
    cursor: pointer;
    transition: all 200ms
}

.edit-button:hover {
    background-color: rgb(200,200,200);
    box-shadow: 0px 0px 2px black;
}

.add-to-cart-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 1rem 0 0;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    background-color: rgb(50,150,50);
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 200ms
}

.add-to-cart-button:hover {
    background-color: rgb(30,130,30);
    box-shadow: 0px 0px 5px black;
}

.cart-quantity {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    font-size: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-image {
    width: 16rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.car-info {
    width: 16rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem;
}

.car-info p {
    margin-bottom: 0;
}

.photo-previews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}

.photo-preview {
    position: relative;
}

.photo-preview img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: .5rem;
    transition: all 200ms;
}

.photo-preview img:hover {
    box-shadow: 0px 0px 5px black;
}

.photo-preview button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 4px;
    right: 4px;
    background: rgba(0,0,0,.65);
    color: #fff;
    border: 0;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: all 200ms;
}

.photo-preview button:hover {
    background-color: black;
}

@media (min-width: 768px) {
    .edit-button {
        opacity: 0;
    }
    .car-card:hover .edit-button {
        opacity: 1;
    }
}