.back-button {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    color: black;
    text-decoration: none;
    margin: 1rem 0;
}

.vehicle-card {
    display: flex;
}

.carousel {
    position: relative;
}

.carousel-img {
    width: 100%;
    height: 28rem;
    object-fit: cover;
    border-radius: 1rem;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,.5);
    border-radius: 1rem;
    color: white;
    border: none;
    font-size: 24px;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 1;
    transition: all 200ms;
}

.carousel-btn:hover {
    background-color: black;
}

.carousel-btn:active {
    scale: 95%;
}

.carousel-btn.prev { left: 1rem; }
.carousel-btn.next { right: 1rem; }

.car-info {
    box-sizing: border-box;
    padding: 1rem;
}

.color-display {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
}

.car-info p {
    font-size: 1.5rem;
}

.archive-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    top: .25rem;
    right: .25rem;
    width: 2rem;
    height: 2rem;
    background-color: rgb(230,230,230);
    cursor: pointer;
    transition: all 200ms
}

.archive-button:hover {
    background-color: rgb(200,200,200);
    box-shadow: 0px 0px 2px black;
}

.archive-button.archived {
    opacity: .2;
}

.archive-button.archived:hover {
    opacity: .5;
}

@media (min-width: 768px){
    .carousel:hover .carousel-btn {
        opacity: 1;
    }
    .carousel-btn {
        opacity: 0;
    }
}